<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfTSELJwpQhNovrmv2Ktms5-1kf3m3xyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>850514984483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pblPeminjamanalatlab</string>
	<key>PROJECT_ID</key>
	<string>peminjaman-alat-lab-5f524</string>
	<key>STORAGE_BUCKET</key>
	<string>peminjaman-alat-lab-5f524.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850514984483:ios:bdd97853ac2f5b10203b96</string>
</dict>
</plist>